@media only screen and (min-width: 32rem) {

    #menu-button {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .temple-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}